version: '3.9'

services:
  backend:
    build:
      context: ./backend
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    ports:
      - "8080:8080"
  frontend:
    build:
      context: ./frontend
    environment:
      - VITE_API_BASE_URL=http://backend:8080
    ports:
      - "5173:5173"
    depends_on:
      - backend
