spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mysql:3306/test_db
    username: test
    password: test
  jpa:
    hibernate:
      ddl-auto: update
  data:
    redis:
      port: 6379
      host: redis
jwt:
  secret: your-very-long-secret-key-change-this
  validity-in-ms: 3600000 # 1 hour